#body {
    background-image: linear-gradient(to right, #4E426D, #4E426D);
    font-family: 'Montserrat', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #4E426D;
    border-radius: 100px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #5C4F81;
}


body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* login_form */

.login_form {
    padding: 15px;
    border-radius: 10px !important;
}

.login_form input {
    width: 100%;
    background-color: #4E426D;
    border: 1px solid #4E426D;
    padding: 12px 0;
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 20px;
}

.login_form input:focus {
    outline: none;
    color: white;
    text-align: start;
    padding-left: 10px;
}

#login_button {
    width: 100%;
    display: block;
    border: none;
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 12px 0;
    border-radius: 5px;
    font-size: 12px;
    background-image: linear-gradient(to right, #4E426D, #3b3153);
    ;
    color: white;
}

.login_form .login_link {
    font-weight: 500;
    color: #c9b4ff;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
}

.login_form a:nth-child(7) {
    color: #c9b4ff;
    /* text-align: center; */
    margin-top: 15px;
    font-weight: 500;
    margin-bottom: 0;
}
.login_form input{
    color: white;
}
.login_form input::placeholder {
    padding-left: 20px;
    text-align: start !important;
    letter-spacing: 1px;
    color: #7e66ba;
}

.logo_container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo .icon {
    color: #fff;
    font-size: 20px;
}

.logo {
    width: 50px;
    height: 50px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #4E426D, #3b3153);
    border-radius: 10px;
    background-color: red;
    margin-bottom: 10px;
}



.login_form h6 {
    text-align: center;
    font-weight: 600;
    color: #e7e0f7;
    margin-bottom: 15px;
}



/*-------------------
        Home
------------------  */
/*  */
.search_input {
    margin: 20px 0;
    width: 100%;
    background-color: #5C4F81;
    border: none;
    color: white;
    padding: 12px 10px;
    border-radius: 25px;
}

.search_input::placeholder {
    font-weight: 400;
    padding-left: 10px;
    text-align: start !important;
    color: #9881d6;
}

.search_input:focus {
    outline: none;
}

.page_active {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    width: 50px;
    color: #fff;
    height: 50px;
    font-size: 21px;
    border-radius: 10px;
    margin: 5px;
    background-image: linear-gradient(to right, #4E426D, #3b3153);
}

.top_nav {
    color: rgb(237, 230, 230);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    padding: 5px;
    height: 50px;
    font-size: 19px;
    border-radius: 10px;
}


.page_active:active {
    transform: scale(0.3);
}

/*================
     chat
---------------- */
.message_container {
    display: grid;
    overflow-x: hidden;
}

.message_content {
    /* display: flex; */
    /* column-gap: 10px; */
}


.reply_icon {
    transform: rotate(200deg);
}

#yourMessage {
    /* float: left; */
    display: flex;
    justify-content: start;
    margin-right: 10px;
}

#myMessage {
    /* margin-top: 50px;
    float: right; */
    display: flex;
    justify-content: end;
    margin-right: 10px;
}

#myMessage .message_text {
    /* background-image: linear-gradient(to right, #f3617b, #F54549); */
    color: #fff;
    background-color: #421C52;
    /* background-image: linear-gradient(to right, #421C52, #732C7B); */
}





.attachment {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 15px;
}

.avatar_container .MuiAvatarGroup-avatar {
    height: 20px !important;
    width: 20px !important;
    font-size: 10px !important;
    color: black !important;
}

/* groups modal */
#search_field {
    background-color: #4E426D;
    padding: 13px;
    width: 100%;
    display: block;
    margin-bottom: 15px;
    border: 1px solid #fff;
    color: white;
}

#search_field::placeholder {
    color: #fff;
    letter-spacing: 1px;
}

#search_field:focus {
    outline: none;
}


.delete_button {
    display: none !important;
    transition: 0.5s;
}

#myMessage:hover .delete_button {
    display: flex !important;
    width: 30px;
    margin-top: 5px;
    height: 30px;
    margin-right: 5px;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

/*--------------------------
      user setting page
--------------------  */
#setting_page {
    height: 100vh;
    width: 100vw;
    background-color: #463a63;
    /* background-image: linear-gradient(326deg, #453B61 0%, #57428e 74%); */
}

/* tab selected color */
.css-1b6wk1k-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: whitesmoke !important;
}

#setting_page .css-10d9dml-MuiTabs-indicator {
    background-color: rgb(227, 220, 220) !important;
}

/* ---------- sidebar -------- */
#sidebar {
    background-color: #4E426D;
    width: 100% !important;
}

#typeing_user {
    display: flex;
    transition: 1s;
    justify-content: center;

}



#list_item {
    display: flex;
    align-items: center;
    background-color: #463a63;
    gap: 10px;
    border-radius: 25px;
    width: auto;
    position: absolute;
    transition: 1s;
    transform: translateY(-2rem);
    margin-top: -10px;
}

/* ---------------
 my_profile
 --------- */
#my_profile {
    transition: 0.5s;
    height: 0px;
}

.open_profile {
    transition: 1000s;
    height: 100vh !important;
    overflow-y: hidden;
}

.open_profile,
body {
    overflow: none !important;
}

#user_details {
    /* display: none; */
}

.setting_input {
    width: 90%;
    padding: 12px;
    background-color: #463A63;
    border: none;
    color: whitesmoke;
}

.setting_input::placeholder {
    color: rgb(222, 220, 220);
}

.setting_input:focus {
    outline: none;
}

@media only screen and (max-width: 1085px) {
    #expand_icon {
        display: none;
        background-color: red !important;
    }

    #visible_icon {
        display: none;
    }

    #visible_icon {
        display: none;
    }



}

@media only screen and (min-width: 1085px) {
    #mobile_icon {
        display: none;
    }


}



@media only screen and (max-width: 750px) {
    #bottom_nav {
        position: fixed;
        bottom: 0;
        /* z-index: 99999999999999999; */
        margin-bottom: 10px;
    }

    #emtyContactText {
        font-size: 1.5rem !important;
    }

    #bottom_nav textarea {
        padding: 0 20px;
        /* z-index: 909898989; */
    }

    #addContactBtn {
        border-radius: 5px !important;
        font-size: 10px !important;
        letter-spacing: 0px !important;
    }
}

/* @media only screen and (min-width: 751px) {
    #bottom_nav {
        position: fixed;
        bottom: 0;
        z-index: 99999999999999999;
        margin-bottom: 10px;
    }
} */
#addContactBtn {
    border: none;
    margin-top: 20px;
    width: 100%;
    background-color: #5C4F81;
    padding: 7px 10px;
    letter-spacing: 1px;
    color: rgb(225, 222, 222);
    border-radius: 25px;
}

#emtyContactText {
    margin: 20px;
    font-size: 3rem;
    color: #7362a4;
}

/*reset password */
.resetpass_field {
    padding: 12px;
    background-color: #5C4F81;
}

.resetpass_field input {
    width: 100%;
    color: white;
    padding: 5px;
    background-color: #4E426D;
    border: 1px solid white;
    margin-bottom: 20px;
}

.resetpass_field input::placeholder {
    color: #9f96b4
}

.resetpass_field input:focus {
    outline: none;
}

.resetpass_field button {
    width: 100%;
    background-color: #4E426D;
    padding: 4px;
    border: 1px solid white;
    color: white;
}

/*  */
/* update photo modal */

#updateButton_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}