/* group */
.creatGroupBtn {
    display: block;
    border-radius: 25px;
    border: none;
    transition: 0.5s;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px 100px;
    background-image: linear-gradient(to right, #5C4F81, #5C4F81);
    color: white;
    margin-top: 40px;
    margin-bottom: 20px;
}

.creatGroupBtn:focus {
    transform: scale(0.5);
}