/* group */
.creatGroupBtn {
  display: block;
  border: none;
  letter-spacing: 1px;
  padding: 10px 100px;
  width: 100%;
  margin-bottom: 20px;
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, right top, from(#5C4F81), to(#5C4F81));
  background-image: linear-gradient(to right, #5C4F81, #5C4F81);
  color: white;
}
